<footer>
    <div class="container">
        <div class="footer-content">
            <div class="row">
                <div class="col-12 col-md-3 me-lg-5">
                    <div class="footer-content-left footer-link-wrap">
                        <h6 class="text-uppercase text-white intro-title">Company Profile<span class="icon-open"><i
                                    class="bi bi-plus-lg"></i></span></h6>
                        <div class="intro-wrap">
                            <div class="logo"><a href="http://82.156.210.156"><img
                                        src="http://82.156.210.156/catalog/TrueImg/index/wWUE5CYJK6jJ3A5UUqIsrJQjoYeiffjBKOQhZgax.png"
                                        class="img-fluid"></a></div>
                            <!-- <div class="text tinymce-format-p"><p>XXX.</p></div> -->
                            <div class="social-network">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md footer-content-link1 footer-link-wrap">
                    <h6 class="text-uppercase text-white">About us<span class="icon-open"><i
                                class="bi bi-plus-lg"></i></span></h6>
                    <ul class="list-unstyled">
                        <li class="lh-lg mb-2">
                            <a href="http://82.156.210.156/pages/21">
                                About us
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md footer-content-link2 footer-link-wrap">
                    <h6 class="text-uppercase text-white">Account<span class="icon-open"><i
                                class="bi bi-plus-lg"></i></span></h6>
                    <ul class="list-unstyled">
                        <li class="lh-lg mb-2">
                            <a href="http://82.156.210.156/account">
                                Account
                            </a>
                        </li>
                        <li class="lh-lg mb-2">
                            <a href="http://82.156.210.156/account/orders">
                                Order
                            </a>
                        </li>
                        <li class="lh-lg mb-2">
                            <a href="http://82.156.210.156/account/wishlist">
                                Wishlist
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md footer-content-link3 footer-link-wrap">
                    <h6 class="text-uppercase text-white">Other<span class="icon-open"><i
                                class="bi bi-plus-lg"></i></span></h6>
                    <ul class="list-unstyled">
                        <li class="lh-lg mb-2">
                            <a href="http://82.156.210.156/pages/25">
                                Contacts
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-12 col-md-3 footer-content-contact footer-link-wrap">
                    <h6 class="text-uppercase text-white">Contact us<span class="icon-open"><i
                                class="bi bi-plus-lg"></i></span> </h6>
                    <ul class="list-unstyled">
                        <li class="lh-lg mb-2"><i class="bi bi-envelope-fill"></i> XXX@163.com</li>
                        <li class="lh-lg mb-2"><i class="bi bi-telephone-fill"></i> 000-888888</li>
                        <li class="lh-lg mb-2"><i class="bi bi-geo-alt-fill"></i> Addr： XXX</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <div class="d-flex flex-wrap">
                        <!-- 删除版权信息, 请先购买授权 https://beikeshop.com/vip/subscription -->
                        <div>© 2024 XXX Inc. All rights reserved</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>